<html>

<head>
    <style>

    </style>
</head>

<body>
    <p>Xin chào, {{name}},</p>
    <p>Bạn vừa yêu cầu được đổi mật khẩu</p>
    <p>Nếu thật là vậy, xin mời bạn nhấn vào đường dẫn bên dưới để được đổi</p>
    <a href="{{link}}">Đổi mật khẩu</a>
</body>

</html>