name: Hello World!

on:
  push:
    branches:
      - main

jobs:
  hello_world_job:
    runs-on: ubuntu-20.04
    steps:
      - name: Say hello
        run: |
          echo "Hello World!"

      - name: Show current date
        run: |
          echo "Current date: $(date)"

      - name: List files
        run: |
          ls -l

